body {
  margin: 0;
  background: #000;
}

#videobox {
  position: absolute;
  top: 10px; left: 10px;
  transform-origin: left top;
  transform: scale(.1);
}

#video {
  display: block;
}

#canvas {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 60%; height: 60%;
}

.id_01 {
  border: 0px solid #FFFFFF;
  background-color: #FF0000;
  padding: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  color: #FFFFFF;
  text-align: center;
}